{% extends "base.html" %}

{% block title %} WorkBook - Login {% endblock %}

{% block navbar %}
  <div class="nav-left">
    <div class="logo">
      <i class="fa-solid fa-book"></i>
      <span>WorkBook</span>
    </div>
  </div>
  <div class="nav-right">
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('register') }}">Register</a>
  </div>

{% endblock %}

{% block content %}

<main>
<div class="form-container">
  <h2>Sign in your WorkBook</h2>
  <div class="form-card">
    <form class="form">
    <label for="uName">User name:</label>
    <input type="text" id="uName" name="uName" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit" >Login</button>
    </form>
  </div>
</div>

</main>

{% endblock %}
